body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;

  #27d594 VERDECITO DE GOOGLE SLIDES

  color: #00A3A3; AZUL ESTILO TEAL
} */

h1{
  color: #27d594;
  /* font-family: 'Lato', sans-serif */

}

h2{
  color: #27d594;
}

p{
  color: white;
}

h4{
  color: #d52768;
}

h5{
  color: #27d594;
}

.div-back{
  padding-top: 0%;
  padding-bottom: 0;
}

.homepage-bgimage {
  background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}